<header>
	<div class="nav-back">
		<a class="back"><img src="img/back_arrow.png"/></a>
	</div>
	<h1>{{title}}</h1>
</header>
<article class="contents-wrap">
	<h2>{{title}}</h2>
	<div class="full-width">
		<img src="img/{{image}}"/>
	</div>
	<a class="next select-button">
		{{button_text}}
		<img class="right-arrow" src="img/right_arrow.png"/>
	</a>
	<div class="copy-wrap">
		<p>{{{description}}}</p>
	</div>
</article>