<header>
	<div class="nav-back">
		<a class="back"><img src="img/back_arrow.png"/></a>
	</div>
	<h1>{{title}}</h1>
</header>
<article class="contents-wrap">
	<h2>{{header}}</h2>
	<div class="full-width">
		<img src="img/{{image}}"/>
	</div>
	<a class="next select-button">
		{{button_text}}
		<img class="right-arrow" src="img/right_arrow.png"/>
	</a>
	<div class="copy-wrap">
		{{{description}}}
	</div>
	<a href="#" onclick="window.open('http://link.brightcove.com/services/player/bcpid2127401086001?bckey=AQ~~,AAABHqwijIE~,eE4mETXuXRVkuTP-Kx4o5VhzD5sp-6qo&bclid=1894450151001&bctid=1849635222001', '_system');"
	    class="select-button green">
		Customer Testimonials
		<img class="right-arrow" src="img/right_arrow.png"/>
	</a>
</article>