<header>
	<div class="nav-back">
		<a class="back"><img src="img/back_arrow.png"/></a>
	</div>
	<h1>{{model}}</h1>
</header>
<article class="contents-wrap">
	<div class="full-width">
		<img src="img/{{image}}"/>
	</div>
	<h2 class="product-name">{{name}}</h2>
	<h3 class="sub-head">{{{subhead}}}</h3>
	<div class="copy-wrap product-desc">
		{{{description}}}
	</div>
	<a href="#" onclick="window.open('{{link}}', '_system');" class="select-button green">
		More Information
		<img class="right-arrow" src="img/right_arrow.png"/>
	</a>
</article>